@import url('cabinet-grotesk.css');

@font-face {
font-family: 'CabinetGrotesk-Thin';
  src: url('./fonts/CabinetGrotesk-Thin.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Thin.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Extralight';
  src: url('./fonts/CabinetGrotesk-Extralight.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Extralight.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Light';
  src: url('./fonts/CabinetGrotesk-Light.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Light.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Regular';
  src: url('./fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Regular.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Medium';
  src: url('./fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Medium.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Bold';
  src: url('./fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Bold.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Extrabold';
  src: url('./fonts/CabinetGrotesk-Extrabold.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Extrabold.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Black';
  src: url('./fonts/CabinetGrotesk-Black.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Black.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'CabinetGrotesk-Black', serif;
    font-size: 64px;
    text-align: center;
    color: rgb(20, 40, 192);
}

.rounds{
    padding: 32px;
   
}



.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}
.choice{
display:flex;
align-items: center;
    justify-content: space-around;
    gap: 16px;

}

#new-round{
    display: flex;
    color:beige;
    background-color:  rgb(214, 106, 17);
    border-radius: 12px;
    width: 320px;

}

button{
    flex: 1;
    background-color: rgb(214, 106, 17);
    color: rgb(206, 207, 217);
    font-size: 40px;
    width: 182px;
    min-width: 182px;
    border-radius: 80px;
    border:0;
    text-shadow: none;
    box-shadow: none;
    border-color: none;
    
    padding: 8px;
    size: 100px;
    font-family: 'CabinetGrotesk-Black',serif;
    
}