@import url('cabinet-grotesk.css');

@font-face {
font-family: 'CabinetGrotesk-Thin';
  src: url('./fonts/CabinetGrotesk-Thin.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Thin.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Extralight';
  src: url('./fonts/CabinetGrotesk-Extralight.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Extralight.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Light';
  src: url('./fonts/CabinetGrotesk-Light.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Light.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Regular';
  src: url('./fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Regular.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Medium';
  src: url('./fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Medium.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Bold';
  src: url('./fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Bold.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Extrabold';
  src: url('./fonts/CabinetGrotesk-Extrabold.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Extrabold.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Black';
  src: url('./fonts/CabinetGrotesk-Black.woff2') format('woff2'),
       url('./fonts/CabinetGrotesk-Black.woff') format('woff'),
       url('./fonts/CabinetGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

html {
  --s: 100px; /* control the size */
  --c1: #2c0202;
  --c2: #530a0abe;
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: var(--_s) conic-gradient(at 40% 40%,#e9131300 75%,var(--c1) 0);
  --_p: var(--_s) conic-gradient(at 20% 20%,#cd1d1d00 75%,var(--c2) 0);
  background:
    calc( .9*var(--s)) calc( .9*var(--s))/var(--_p),
    calc(-.1*var(--s)) calc(-.1*var(--s))/var(--_p),
    calc( .7*var(--s)) calc( .7*var(--s))/var(--_g),
    calc(-.3*var(--s)) calc(-.3*var(--s))/var(--_g),
    conic-gradient(from 90deg at 20% 20%,var(--c2) 25%,var(--c1) 0) 
     0 0/var(--s) var(--s);
  animation: m 6s infinite;
}
@keyframes m {
  0% {
   background-position: 
    calc( .9*var(--s)) calc( .9*var(--s)),
    calc(-.1*var(--s)) calc(-.1*var(--s)),
    calc( .7*var(--s)) calc( .7*var(--s)),
    calc(-.3*var(--s)) calc(-.3*var(--s)),0 0
  }
  25% {
   background-position: 
    calc(1.9*var(--s)) calc( .9*var(--s)),
    calc(-1.1*var(--s)) calc(-.1*var(--s)),
    calc(1.7*var(--s)) calc( .7*var(--s)),
    calc(-1.3*var(--s)) calc(-.3*var(--s)),0 0
  }
  50% {
   background-position: 
    calc(1.9*var(--s)) calc(-.1*var(--s)),
    calc(-1.1*var(--s)) calc( .9*var(--s)),
    calc(1.7*var(--s)) calc(-.3*var(--s)),
    calc(-1.3*var(--s)) calc( .7*var(--s)),0 0
  }
  75% {
   background-position: 
    calc(2.9*var(--s)) calc(-.1*var(--s)),
    calc(-2.1*var(--s)) calc( .9*var(--s)),
    calc(2.7*var(--s)) calc(-.3*var(--s)),
    calc(-2.3*var(--s)) calc( .7*var(--s)),0 0
  }
  100% {
   background-position: 
    calc(2.9*var(--s)) calc(-1.1*var(--s)),
    calc(-2.1*var(--s)) calc(1.9*var(--s)),
    calc(2.7*var(--s)) calc(-1.3*var(--s)),
    calc(-2.3*var(--s)) calc(1.7*var(--s)),0 0
  }
}

body{
  width: 100vw;
  height: 100vh;
 background: rgb(255, 255, 255);
    font-family: 'CabinetGrotesk-Black', serif;
    font-size: 24px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
     text-align: center;
     border-radius: 160px;
     
}

.stats{
  display:flex;
  justify-content:center;
  gap: 80px;
  align-items: center;
}

.rounds,
.computerScore,
.humanScore{
    /* display: flex;
    justify-content: center; */
    padding: 0px;
    font-size: 80px;
}

.display{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 480px;
  height: 80px;
  background-color: rgb(74, 5, 5);
  color:rgb(255, 255, 255);
  text-align:center;
  border-radius: 48px;
  margin-bottom: 16px;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  
}
.message{
padding: 24px;
color:rgb(33, 137, 103);  
}


.button-container{
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 16px;
    width: 66%;
    height: 480px;
    background-color: rgb(111, 42, 42);
    border-color: 20px solid white;
    border-radius:80px;
  }
.choice{
  display:flex;
  align-items: center;
  justify-content: space-around;
  gap: 0px;

}

#newround{
    flex: 1;
    color: rgb(255, 255, 255);
    background-color:  rgba(31, 162, 55, 0.653); 
    font-size: 40px;
    width: 182px;
    min-width: 182px;
    border-radius: 80px;
    border:0;
    text-shadow: none;
    box-shadow: none;
    border-color: none;
    text-align:center;
    padding: 0px;
    
  font-family: 'CabinetGrotesk-Black',serif;
    border-radius: 80px;
    width: 320px;


}

button:not(#newround){
    flex: 1;
    background-color: rgb(74, 5, 5);
    color: rgb(214, 217, 206);
    font-size: 40px;
    width: 182px;
    min-width: 182px;
    border-radius: 80px;
    border:0;
    text-shadow: none;
    box-shadow: none;
    border-color: none;
    padding: 8px;
    size: 0px;
    font-family: 'CabinetGrotesk-Black',serif;
    
}

.images{
  width: 160px;
  height: 160px;
}

.paper,
.rock,
.scissors{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start{
  display: none;
flex: 1;
    color: rgb(255, 255, 255);
    background-color:  rgb(253, 108, 18, 0.653); 
    font-size: 40px;
    width: 182px;
    min-width: 182px;
    border-radius: 80px;
    border:0;
    /* text-shadow: none;
    box-shadow: none; */
    border-color: none;
    text-align:center;
    padding: 0px;
    
  font-family: 'CabinetGrotesk-Black',serif;
    border-radius: 80px;
    width: 320px;
}